.time {
    font-size: 13px;
}

body {
    transition: background-color 0.3s, color 0.3s;
    background-color: #ffffff;
    color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.sidebar {

    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    border-right: 1px solid #e6ecf0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin: 5px 0;
    border-radius: 25px;
    transition: background-color 0.2s;
}

.sidebar a:hover {
    background-color: #e8f5fe;
}

.sidebar a.active {
    font-weight: bold;
    color: #1da1f2;
}

.sidebar a i {
    margin-right: 10px;
    font-size: 20px;
}

.nav-link {
    margin: 5px !important;
    font-size: 14px !important;
    color: #333 !important;
    text-decoration: underline !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    cursor: pointer !important;
    transition: color 0.3s !important;
}

.nav-link:hover {
    color: #7b7878 !important;
}

.main-content {
    margin-left: 20%;
    padding: 20px;
    min-height: 100vh;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #e6ecf0;
}
.resume {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;

    word-wrap: break-word;
    border: 1px solid #e6ecf0;

}

.home{
    font-family:  'Courier', monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;

    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;

    word-wrap: break-word;
}

.contact {
    font-family: 'Courier', monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;

    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;

    word-wrap: break-word;
}

.about {
    font-family: 'Courier', monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;

    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;

    word-wrap: break-word;
}

.quotes {
    font-family: 'Courier', monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;

    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;

    word-wrap: break-word;
}


@media (max-width: 768px) {
    .sidebar {
        width: 110px;
        align-items: center;
    }

    .sidebar a span {
        display: none;
    }

    .main-content {
        margin-left: 110px;
    }

    footer {
        margin-left: 0;
    }
    .sidebar .logo {
            font-size: 30px; /* Smaller size for the two letters */
            text-indent: -9999px; /* Hide original text */
            position: relative;
        }

    .sidebar .logo::after {
        content: "JA"; /* Replace with your desired two letters */
        text-indent: 0; /* Ensure the new content is visible */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #000000; /* Match original logo color */
    }
}